header .potalhead {
	position: relative;
	background-color: black;
	padding: 8px;
}

header .potalhead .login ul {
	list-style: none;
	margin: 0px;	
}

header .potalhead .login ul li.refer {
	display: inline-block;
}

header .potalhead .login {
	float: right;
	font-size: 10px;
	padding-right: 20px;
}

header .potalhead .login ul li a{
	color: #FFFFFF;
	padding-left: 15px; 
	padding-right: 15px; 
	border-right: 1px solid #FFFFFF;
	float: right;
}

header .potalhead .login ul li:last-child a{
	border-right: none;
}

header .mainhead .mainimage {
	background-image: url("../tracktor.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;

}

/*header .mainhead {
	padding-bottom: 20px;
}*/

header .mainhead .mainimage .img {
	background-color: rgba(200, 133, 88, .8);
	padding: 10px;
}

header .mainhead .mainimage .img .logo {
	padding-left: 0px;
	padding-right: 0px;
}

header .mainhead .mainimage .menu ul{
	display: -webkit-box; 
	list-style: none;
	float: right;
	margin-bottom: 0px;
}

header .mainhead .mainimage .menu ul li {
	padding-left: 15px; 
	padding-right: 15px; 
	border-right: 1px solid #FFFFFF;
	font-size: 14px;
}

header .mainhead .mainimage .menu ul li a{
	color: #FFFFFF;
}

header .mainhead .mainimage .menu ul li a.active:first-child {
	text-decoration: underline;	
}

header .mainhead .mainimage .menu ul li:first-child {
	/*padding-left: 0px;*/
}

header .mainhead .mainimage .menu ul li:last-child {
	border-right: none;
}

/*-------------------------HEADER END-----------------------------------------------*/

.main-content {
	background-image: url("../tracktor.png");
	background-repeat: no-repeat;
	background-position: left bottom;
	background-color: #DCDCDC;
	padding-top: 30px;
	padding-bottom: 20%;
}

.main-content .btn:hover {
	text-decoration: none;
	background-color: rgba(205, 125, 40, .9);
}

.main-content a.btn{
	border: none;
	background-color: #CD7D28;
	color: #FFFFFF;
	width: 50%;
	font-weight: bold;
	font-size: 15px;
} 

.main-content .number .area {
	background-color: #EAEAEA;
	border: 1px solid #EAEAEA;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 25px;
	padding-left: 25px;
	margin-bottom: 30px;
}

.main-content .number .area {
	color: #8E2A1B;
	font-size: 22px;
}

.main-content .number .area h1{
	float: left;
	margin-bottom: 0px;
	width: 85%;
	font-size: 25px;
}

.main-content .about{
	margin-bottom: 20px;
}

.main-content .about .leftabout {
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 20px;
	padding-bottom: 20px;

}

.main-content .about .leftabout {
	background-color: #EAEAEA;
	height: 100%;

}

.main-content .about .leftabout h2{
	color: #7C7C7C;
	font-size: 20px;
	padding-bottom: 20px;
	margin-bottom: 0px;
}

.main-content .about .leftabout .info img{
	width: 100%;
}

.main-content .about .leftabout .info .detail .cal{
	padding-left: 7px; 
	padding-right: 7px;
	margin-right: 3px;
	height: 45px;
	float: left;
	font-size: 15px;
	color: #FFFFFF;
	background-color: #CD7D28;
	width: 19%;
}

.main-content .about .leftabout .info .detail .cal:last-child {
	margin-right: 0;
}

.main-content .about .leftabout .info .detail .cal span.day{
	font-size: 10px;
}

.main-content .about .leftabout .info .detail .cal span{
	float: left;
	width: 100%;
}

.main-content .about .leftabout .info .detail .cal span.rupees{
	text-align: right;
	font-size: 17px;
}


.main-content .about .leftabout .info .detail .week{
	background-color: #8E2A1B;
	width: 30%;
}

.main-content .about .leftabout .info .detail .month{
	background-color: #585A59;
	width: 49%;
}

.main-content .about .leftabout .info .name{
	background-color: #f5f6f8;
	padding-top: 15%;
	margin-bottom: 20px;
	box-shadow: 5px 5px rgba(138, 138, 138, .1);
}

.main-content .about .leftabout .info .name .check{
	padding: 10px;
}

.main-content .about .leftabout .info .name .check normal{
	border-right: 1px solid #000000;
	padding-right: 5px;
}

.main-content .about .leftabout .info .name .check a{
	float: right;
	padding: 0px;
	width: 35%;
}

.main-content .about .leftabout .info .name .hour{
	font-size: 14px;
}


/*----------------------------------------------------------------------------*/

.main-content .about .leftabout .number {
	text-align: center;
}

.main-content .about .leftabout .number ul.no{
	display: inline-block; 
	list-style: none;
	padding: 0px;
	margin-bottom: 0px;
	align-content: center;
}

.main-content .about .leftabout .number ul li {
	padding-right: 5px; 
	margin-left: 5px;
	font-size: 13px;
	border-right: 1px solid #902a1e;
	float: left;
}

.main-content .about .leftabout .number ul li a{
	color: #902a1e;
	font-weight: bold;
}


.main-content .about .leftabout .number ul li:last-child {
	border-right: none;
}

.main-content .about .leftabout .number ul li:nth-last-child(2) {
	border-right: none;
}

/*-------------------------left about END---------------------------------------------*/

.main-content .about .rightabout h2{
	background-color: #902a1e;
	color: #FFFFFF;
	padding: 10px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 0px;
}

.main-content .about .rightabout .mainright {
	background-color:#EAEAEA; 
}

.main-content .about .rightabout .mainright .imageinfo {
	background-image: url("../worker.jpeg");
	background-repeat: no-repeat;
	background-size: 100%;
	padding-bottom: 30px;
}

.main-content .about .rightabout .mainright .imageinfo ul.image {
	list-style: none;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 35px;
	padding-left: 0px;
	margin: 0px;
}

.main-content .about .rightabout .mainright .imageinfo ul.image li.pasa{
	text-align: justify;
	color: #902a1e;
	font-size: 19px;
	padding: 15px;
	font-weight: bold;
	background-color: rgba(235, 235, 235, .6);
}


.main-content .about .rightabout .mainright .mainform {
	padding: 15px;
}

.main-content .about .rightabout .mainright .mainform .Form .regform {
	color: #7C7C7C;
	padding-bottom: 10px;
}

.main-content .about .rightabout .mainright .mainform .Form .regform h3{
	color: #902a1e;
	font-size: 16px;
}

.main-content .about .rightabout .mainright .mainform .Form .regform .reg {
	margin-bottom: 10px;
	width: 100%;
	display: inline-block;
}

.main-content .about .rightabout .mainright .mainform .Form .regform .name {
	display: inline-block;
	margin-right: 2%;
	float: left;
	width: 49%;
}

.main-content .about .rightabout .mainright .mainform .Form .regform .name:nth-of-type(2n + 1) {
	margin-right: 0;
}

.main-content .about .rightabout .mainright .mainform .Form .regform input {
	width: 100%;
	border: none;
	padding: 10px;
	border-radius: 4px;
}

::placeholder {
	color: #AEADB2;
}

.main-content .about .rightabout .mainright .mainform .Form .regform input {
	font-size: 11px;
}

.main-content .about .rightabout .mainright .mainform .Form .regform .skidsteer ::placeholder{
	color: #000000;
}	

.main-content .about .rightabout .mainright .mainform .Form .regform .where {
	margin-bottom: 40px;
}

.main-content .about .rightabout .mainright .mainform .Form .regform h4{
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 10px;
	margin-bottom: 0px;
}

.main-content .about .rightabout .mainright .mainform .Form .regform .option select{
	background-color: #FFFFFF;
	width: 100%;
	margin-bottom: 10px;
}

.main-content .about .rightabout .mainright .mainform .Form .regform .option select{
	border: none;
	border-radius: 4px;
	height: 36px;
	font-size: 11px;
	color: #AEADB2;	
}

.main-content .about .rightabout .mainright .mainform .send {
	text-align: center;
	padding-bottom: 10px;
}

/*.main-content .about .rightabout .mainright .mainform .send button{
	border: none;
	background-color: #CD7D28;
	color: #FFFFFF;
	width: 50%;
	font-weight: bold;
	font-size: 20px;
}
*/
/*.main-content .about .rightabout .mainright .mainform .send button a{
	color: #FFFFFF;
}
*/
/*-------------------------right about END--------------------------------------------*/

.main-content .qualified .leftqualified{
	background-color: rgba(240, 240, 240, .9);
	padding-right: 25px;
    padding-left: 25px;
    padding-top: 25px;
    width: 100%;
    height: 100%;
}

.main-content .qualified .leftqualified h3{
	margin-bottom: 0px;
	font-size: 13px;
    font-weight: bold;
}

.main-content .qualified .leftqualified .paragraph {
	font-size: 13px;
	margin-bottom: 0px;
	color: #7C7C7C;
}

.main-content .qualified .leftqualified .paragraph .up {
	display: inline-block;
	width: 100%;
}

.main-content .qualified .leftqualified .paragraph p.signup{
    float: left;
    padding-right: 25px;
}


.main-content .qualified .leftqualified .paragraph ul{
	list-style: none;
}

.main-content .qualified .leftqualified .paragraph ul li a{
	color: #7C7C7C;
	font-size: 14px;
}

.main-content .qualified .leftqualified .paragraph ul li{
	float: left;
	padding-right: 25px;

}

.main-content .qualified .rightqualified {
	background-color: #F0F0F0;
	padding-right: 25px;
    padding-left: 25px;
    padding-top: 25px;
    width: 100%;
    height: 100%;
}

.main-content .qualified .rightqualified h3{
	text-align: center;
	margin-bottom: 0px;
	font-size: 20px;
	padding-bottom: 20px;
	/*color: #CFCFCF;*/
}

.main-content .qualified .rightqualified .send {
	text-align: center;
}

/*.main-content .qualified .rightqualified .send button{
	border: none;
	background-color: #CD7D28;
	color: #FFFFFF;
	width: 50%;
	font-weight: bold;
	font-size: 15px;
}*/

/*.main-content .qualified .rightqualified .send button a{
	color: #FFFFFF;
	padding: 0px;
	border-radius: 5px;
}*/